.progress span {
    position: absolute;
    display: block;
    width: 100%;
	height: 15px;
	line-height: 15px;
	text-align: center;
	cursor: default;
 }
.progress {background: rgba(70, 76, 163, 1); border: 0px solid rgba(175, 191, 199, 1); border-radius: 15px; height: 15px; position: relative;}
.progress-bar-attack {background: rgba(255, 231, 217, 1); background: -webkit-linear-gradient(top, rgba(242, 72, 75, 1) 0%, rgba(255, 231, 217, 1) 100%); background: linear-gradient(to bottom, rgba(242, 72, 75, 1) 0%, rgba(255, 231, 217, 1) 100%);}
.progress-bar-health {background: rgba(181, 235, 199, 1); background: -webkit-linear-gradient(top, rgba(58, 179, 92, 1) 0%, rgba(181, 235, 199, 1) 100%); background: linear-gradient(to bottom, rgba(58, 179, 92, 1) 0%, rgba(181, 235, 199, 1) 100%);}
.progress-bar-mana {background: rgba(178, 219, 255, 1); background: -webkit-linear-gradient(top, rgba(36, 153, 255, 1) 0%, rgba(178, 219, 255, 1) 100%); background: linear-gradient(to bottom, rgba(36, 153, 255, 1) 0%, rgba(178, 219, 255, 1) 100%);}
.progress-bar-exp {background: rgba(127, 63, 191, 1); background: -webkit-linear-gradient(top, rgba(127, 63, 191, 1) 0%, rgba(178, 219, 255, 1) 100%); background: linear-gradient(to bottom, rgba(127, 63, 191, 1) 0%, rgba(178, 219, 255, 1) 100%);}
